@import "tailwindcss";

@source "../domains/sub-app-a/src/**/*.{js,jsx,ts,tsx}";
@source "../domains/sub-app-b/src/**/*.{js,jsx,ts,tsx}";

html {
  color-scheme: light dark;
}
* {
  @apply border-gray-200 dark:border-gray-800;
}
body {
  @apply bg-gray-50 text-gray-950 dark:bg-gray-900 dark:text-gray-200;
}
